<div class="dropdown-container">
  <div (click)="overlayIsVisible = !overlayIsVisible" class="dropdown">
    {{selectedItem?.label || placeholder}}
    <span class="arrow" [class.active]="overlayIsVisible"> > </span>
  </div>

  <div class="overlay" *ngIf="overlayIsVisible">
    <div class="search">
      <input type="text" [formControl]="searchControl" placeholder="Поиск">
    </div>
    <ul>
      <li
        *ngFor="let item of options$ | async"
        (click)="selectItem(item)"
        [innerHTML]="item.label | matchHighlight: searchValue">
      </li>
    </ul>
  </div>
</div>
